<nav>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}" {% if page.url == item.link %}class="current" {% endif %}>
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href='#' class="menu" id="cross">
        <svg viewBox="0 0 100 80" width="25" height="25">
            <line x1="0" y1="0" x2="100" y2="80" stroke-width=10 stroke="black" />
            <line x1="0" y1="80" x2="100" y2="0" stroke-width=10 stroke="black" />
        </svg></a>
</nav>