Protocol 2
Port ${PORT}
PermitRootLogin prohibit-password
MaxAuthTries 6
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
AllowUsers *@192.168.50.0/24