html, body{
  margin:0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}
body { 
  background-color: white; 
  font-family: Monospace;
}
h1, h2{
  font-size:2em;
}
h2{
  font-family:sans-serif;
  
  color:red;
}
h1{
  // font-size:1em;
  text-transform:uppercase;
  font-weight:normal;
  font-family:sans-serif;
}
h1, nav ul{
  display:inline-block;
}
a{
  color:blue;
}
.current { 
  // background-color: black;
  color:red; 
}

#logo{
  margin-inline-start:0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  // flex-direction:column;
    justify-content: space-between;
}
article, h1{
  margin:1rem
}
article{
  margin-top:7em
}

article p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
nav + article {
  margin-top: 5em;
}
nav {
  background-color:rgba(255,255,255,0.9);
  
}
nav ul{
  display: flex; 
  list-style: none; 
  margin-top:1.7em;
}
nav ul li{
  display: block;
    width: 4em;
    font-size:2em
}
nav a{
  text-decoration:none;
}
@media (min-width: 850px){
  header{
flex-direction:row;
  }
}
